# Web/API
fastapi==0.115.0
uvicorn[standard]==0.30.6

# DB/ORM (async)
SQLAlchemy==2.0.35
asyncmy==0.2.9
pymysql==1.1.1

# Validación / Config
pydantic==2.9.1
pydantic-settings==2.3.4
email-validator==2.1.1
dnspython==2.8.0

# Auth
python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

# Uploads / HTTP
requests==2.32.3
cloudinary==1.41.0
python-multipart==0.0.9

# PDF / Firma (si los usas)cs
weasyprint==66.0
reportlab==4.1.0
pyHanko==0.31.0
pyhanko-certvalidator==0.29.0
google-auth==2.34.0
requests==2.32.3 