
fastapi==0.115.0
uvicorn[standard]==0.30.6


SQLAlchemy==2.0.35
asyncmy==0.2.9
pymysql==1.1.1

pydantic==2.9.1
pydantic-settings==2.3.4
email-validator==2.1.1
dnspython==2.8.0


python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
google-auth==2.34.0

requests==2.32.3
cloudinary==1.41.0
python-multipart==0.0.9


weasyprint==66.0
reportlab==4.1.0
pyHanko==0.31.0
pyhanko-certvalidator==0.29.0

cffi==1.16.0
pycparser==2.22
